<%- include("./partials/header") -%>

<h1>Resultaat</h1>

<p><a class="btn but-thirza btn-sm" href="/">Opnieuw zoeken</a></p>

<% if(data["Response"]==="False") { %>
    <%= data["Error"] %>
<% } else { %>
    <div class="row justify-content-around">
        <div class="col">
            <img src="<%= data["Poster"] %>" alt="<%= data["Poster"] %>">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <strong>Titel</strong>
                </div>
                <div class="col">
                    <strong><%= data["Title"] %></strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Uitgezonden / eerste datum</strong>
                </div>
                <div class="col">
                        <%= data["Year"] %> / <%= data["Released"] %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Genre</strong>
                </div>
                <div class="col">
                    <%= data["Genre"] %>
                </div>
            </div>
            <div class="row">
                 <div class="col">
                    <strong>Acteurs</strong>
                </div>
               <div class="col">
                    <%= data["Actors"] %>
                </div>
           </div>
            <div class="row">
                <div class="col">
                    <strong>Taal / land</strong>
                </div>
                <div class="col">
                    <%= data["Language"] %> / <%= data["Country"] %>
                </div>
           </div>
            <div class="row">
                 <div class="col">
                    <strong>Speelduur / classificatie</strong>
                </div>
               <div class="col">
                    <%= data["Runtime"] %> / <%= data["Rated"] %>
                </div>
           </div>
            <div class="row">
                 <div class="col">
                    <strong>Awards</strong>
                </div>
               <div class="col">
                    <%= data["Awards"] %>
                </div>
           </div>
            <div class="row">
                 <div class="col">
                    <strong>imdb ID / imdb Score / imdb</strong>
                </div>
                <div class="col">
                    <%= data["imdbID"] %> / <%= data["imdbRating"] %> / <a href="https://www.imdb.com/title/<%= data["imdbID"] %>" target="_blank">link</a>
                 </div>
           </div>
            <div class="row">
                 <div class="col">
                    <strong>Soort / Aantal seizoenen</strong>
                </div>
               <div class="col">
                    <%= data["Type"] %> / <%= data["totalSeasons"] %>
                </div>
           </div>
            <div class="row">
                 <div class="col">
                    <strong>Plot</strong>
                </div>
               <div class="col">
                    <%= data["Plot"] %>
                </div>
           </div>

        </div>
    </div>
<% } %>

<%- include("./partials/footer") -%>